    @import url(./_img/popup__close_img.css);

    .popup__close {

        border: none;
        background: none;
        position: relative;
        top: -190px;
        right: 15px;
        cursor: pointer;
        background-size: cover;


    }